{% extends 'mogoon/base.html' %}

{% load static %}

{% block title %}Fertilizer Table Update{% endblock %}

{% block body %}


<div class="row g-0 d-flex align-items-center">
    <div class="col-lg-4 d-none d-lg-flex ">

        <div class="container fluid bg-info text-warning" style="width: 25rem;">
            <div class="card card bg-dark text-right" style="width: 23rem;">
                <h2 class="text-center text-warning">Fertilizer Table Update</h2>
                <form action="{% url 'mogoon-fertilizer_create' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}


                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2" class="form-label"><strong>fertilizer</strong></label>
                        <input style="height:40px;width:300px" type="text" class="form-control" id="formGroupExampleInput1"
                               placeholder="fertilizer" name="fertilizer">
                    </div>
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2"
                               class="form-label"><strong>fertilizer_applied</strong></label>
                        <input style="height:40px;width:300px" type="datetime-local" class="form-control" id="formGroupExampleInput2"
                               placeholder="fertilizer_applied" name="fertilizer_applied"
                               value="">
                    </div>
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2" class="form-label"><strong>fertilizer_amt</strong></label>
                        <input style="height:40px;width:300px" type="text" class="form-control" id="formGroupExampleInput3"
                               placeholder="fertilizer_amt" name="fertilizer_amt" value="">
                    </div>


                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2"
                               class="form-label"><strong>fertilizer_labour_rate</strong></label>
                        <input style="height:40px;width:300px" type="text" class="form-control" id="formGroupExampleInput4"
                               placeholder="fertilizer_labour_rate" name="fertilizer_labour_rate" value="">
                    </div>


                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2"
                               class="form-label"><strong>fertilizer_labour</strong></label>
                        <input style="height:40px;width:300px" type="text" class="form-control" id="formGroupExampleInput5"
                               placeholder="fertilizer_labour" name="fertilizer_labour" value="">

                    </div>
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2" class="form-label"><strong>fertilizer_price</strong></label>
                        <input style="height:40px;width:300px" type="text" class="form-control" id="formGroupExampleInput6"
                               placeholder="fertilizer_price" name="fertilizer_price" value="">

                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2"
                               class="form-label"><strong>fertilizer_cost</strong></label>
                        <input style="height:40px;width:300px" type="text" class="form-control" id="formGroupExampleInput7"
                               placeholder="fertilizer_cost" name="fertilizer_cost" value="">
                    </div>
                    <div class="container my-3">
                        <button class="btn btn-primary" type="submit" value="Update" name="update"
                                typeof="hover">
                            Submit
                        </button>

                        <a class="btn btn-warning bg-warning btn-info block-lg"
                               href="{% url 'mogoon-fertilizer_table' %}">Return</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
