{% extends 'mogoon/base.html' %}

{% load static %}

{% block title %} Home {% endblock %}
 {% include 'Crop_data/update-form.html' %}
{% block body %}

<p><em> This is the reports description </em></p>

<hr width="99%" color="#ff00ff" size="16">
{% if success %}
<div class="alert alert-primary alert dismissible fade show" role="alert">
    <strong>simple success alert—check it out!</strong> form submitted :
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endif %}
<div class="container card card-dark bg-light my-3 px=3 mx=3">
    <h2 class="text-center bg-secondary text-warning text-bold">Mogoon - Daily Reports</h2>
    <div class="container my-3">
    <div class="card card-body text-dark text-bold bg-secondary">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        </form>

        <a class="btn btn-warning bg-info btn-light block-sm" typeof="hover" href="{% url 'mogoon-table' %}">Return</a>

        <input class="btn btn-danger bg-warning btn-sm" typeof="hover" type="submit" value="Add">
    </div>
    </div>
</div>


{% endblock %}