{% extends 'mogoon/base.html' %}

{% block title %} Image {% endblock %}

{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
                aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8"
                aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 12"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 14"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 15"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 16"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 17"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 18"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 19"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9"
                aria-label="Slide 20"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            {% load static %}<img src="{% static '/images/slide 21.jpg' %}" class="d-block w-100 h-60"
                                  alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 21</h5>
                <p style="color:lime;font-size:20px;"> </p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 22.jpg' %}" class="d-block w-100 h-60"
                                  alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 22</h5><p>
                <p style="color:lime;font-size:20px;"> </p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 23.jpg' %}" class="d-block w-100 h-60"
                                  alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide23</h5><p>
                <p style="color:lime;font-size:20px;"> </p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 1.jpg' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 1</h5><p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 2.jpg' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 2</h5>
                <p>
                <p style="color:lime;font-size:20px;"> </p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 3.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 3</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 4.jpg' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 4</h5>
                <p>
                <p style="color:lime;font-size:20px;"> </p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 5.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 5</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 6.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 6</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 7.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 7</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div>
        <div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 8.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 8</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 9.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 9</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 10.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 10</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 11.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 11</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 12.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 12</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 13.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 13</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 14.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 14</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 15.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 15</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 16.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 16</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 17.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 17</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 18.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 18</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 19.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 19</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div><div class="carousel-item">
            {% load static %}<img src="{% static '/images/slide 20.jpg/' %}" class="d-block w-100 h-60" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:magenta;font-size:20px;">slide 20</h5>
                <p>
                <p style="color:lime;font-size:20px;"></p>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>

{% endblock %}
