{% extends 'mogoon/base.html' %}

{% include 'Crop_data/update.html' %}

{% include 'Crop_data/delete.html' %}

{% load static %}


<title>{% block title %}Kandojobs Table{% endblock %}</title>

<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'>

{% block body %}
<div class="container-fluid text-right card bg-secondary card-dark mx-0 px-0 my-0 py-0">
    <h2 class="text-center bg-dark text-warning">Kandojobs Table</h2>
    <div class="border p-3">
        <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'mogoon-kandojobs_table_update'%}">Add</a>
        <form action="" method="POST">
            {% csrf_token %}

        </form>

        <hr>
        <h3 class="text-center bg-dark text-warning">Pruning Table</h3>
        <table class="table align-middle text-warning bg-dark">
            <tr>
                <th>Kandojobs</th>
                <th>Pruning Date</th>
                <th>Pruned Block No.</th>
                <th>Pruned Bushes</th>
                <th>Pruning Rate</th>
                <th>Pruning Cost</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            {% for data in kandojobs %}

            <tr>
                <td>{{data.kandojobs}}</td>
                <td>{{data.pruning_done}}</td>
                <td>{{data.pruned_block_No}}</td>
                <td>{{data.pruned_bushes}}</td>
                <td>{{data.pruning_rate}}</td>
                <td>{{data.pruning_cost}}</td>
                <td><a class="btn btn-info btn-block bg-primary btn btn-info" href="{% url 'kandojobs-update' data.id %}">Edit</a></td>
                <td><a class="btn btn-info btn-block bg-danger btn btn-info" href="{% url 'kandojobs-delete' data.id %}">Delete</a></td>
            </tr>

            {% endfor %}
        </table>
        <h3 class="text-center bg-dark text-warning">Weeding Table</h3>
        <table class="table align-middle text-warning bg-dark">
            <tr>
                <th>Weeding Date</th>
                <th>Chemical Name</th>
                <th>Block No.</th>
                <th>Chemical amount</th>
                <th>Cost Per Liter</th>
                <th>Weeding Labour Number</th>
                <th>Weeding Labour Rate</th>
                <th>Weeding Labour</th>
                <th>Weeding Cost</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            {% for data in kandojobs %}

            <tr>
                <td>{{data.weeding_done}}</td>
                <td>{{data.chemical_name}}</td>
                <td>{{data.block_No}}</td>
                <td>{{data.cost_per_lit}}</td>
                <td>{{data.weeding_chem_amt}}</td>
                <td>{{data.weeding_labour_number}}</td>
                <td>{{data.weeding_labour_rate}}</td>
                <td>{{data.weeding_labour}}</td>
                <td>{{data.weeding_cost}}</td>
                <td><a class="btn btn-info btn-block bg-primary btn btn-info" href="{% url 'kandojobs-update' data.id %}">Edit</a></td>
                <td><a class="btn btn-info btn-block bg-danger btn btn-info" href="{% url 'kandojobs-delete' data.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
