{% extends 'mogoon/base.html' %}

{% include 'Crop_data/update.html' %}

{% include 'Crop_data/delete.html' %}

{% load static %}


<title>{% block title %}Milk Table{% endblock %}</title>

<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'>

{% block body %}
<div class="container-fluid text-right card bg-secondary card-dark mx-0 px-0 my-0 py-0">
    <h2 class="text-center bg-dark text-warning">Milk Table</h2>
    <div class="border p-3">
        <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'mogoon-milk_table_update'%}">Add</a>
        <form action="" method="POST">
            {% csrf_token %}

        </form>

        <hr>
        <table class="table align-middle text-warning bg-dark">

            <tr>
                <th>Milking Date</th>
                <th>Milk Today</th>
                <th>Milk Todate</th>
                <th>Cows Milked</th>
                <th>Cow Numbers</th>
                <th>Milking Average</th>
                <th>Total Milk</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>

            {% for data in Milk %}

            <tr>
                <td>{{data.milking_done}}</td>
                <td>{{data.milk_today}}</td>
                <td>{{data.milk_todate}}</td>
                <td>{{data.cows_milked}}</td>
                <td>{{data.cow_numbers}}</td>
                <td>{{data.milking_average}}</td>
                <td>{{data.total_milk}}</td>
                <td><a class="btn btn-info btn-block bg-primary btn btn-info"
                       href="{% url 'milk-update' data.id %}">Edit</a></td>
                <td><a class="btn btn-info btn-block bg-danger btn btn-info"
                       href="{% url 'milk-delete' data.id %}">Delete</a></td>
                {% endfor %}
            </tr>

 <tr>
                <td>#</td>
                <td>{{m_todate.all_sum}}</td>
                <td>{{m_todate.all_sum}}</td>
                <td></td>
                <td>#</td>
                <td>{% widthratio m_todate.all_sum c_milked.all_quantity 1 %}</td>
                <td>{{t_milk.total_sum}}</td>

            </tr>

        </table>
        <div></div>
        <table class="table align-middle text-warning bg-dark">
                <tr>
                <th>Calf Down Date</th>
                <th>Calf Numbers</th>
                <th>Vet Cost</th>
                <th>Total Vet Cost</th>
                <th>Update</th>
                <th>Delete</th>
                </tr>

              {% for data in Milk %}

            <tr>
                <td>{{data.calf_down}}</td>
                <td>{{data.calf_numbers}}</td>
                <td>{{data.vet_cost}}</td>
                <td>{{data.Total_vet_cost}}</td>
                <td><a class="btn btn-info btn-block bg-primary btn btn-info" href="{% url 'milk-update' data.id %}">Edit</a></td>
                <td><a class="btn btn-info btn-block bg-danger btn btn-info" href="{% url 'milk-delete' data.id %}">Delete</a></td>
            </tr>
            {% endfor %}

            <tr>
                <td>#</td>
                <td>#</td>
                <td>{{v_cost.total_cost}}</td>
                <td>{{t_v_cost.total_cost}}</td>

            </tr>

        </table>
    </div>
    <hr>
</div>
{% endblock %}