<nav class="navbar navbar-expand-lg navbar-dark"
     style=" background-color: rgba(13, 70, 10, 1); ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'mogoon-crop_table' %}">Crop Table</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'mogoon-kandojobs_table' %}">Kandojobs Table</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'mogoon-milk_table' %}">Milk Table</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'mogoon-fertilizer_table' %}">Fertilizer Table</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">#</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">#</a></li>
            </ul>
        </div>
    </div>
    <div>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" href="{% url 'signup' %}">SignUp</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">Login</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
</nav>

