{% extends 'mogoon/base.html' %}

{% load static %}

{% block title %}Notes Table{% endblock %}

{% block body %}
<h5>This is the {{name}}</h5>

<div class="container fluid bg-info text-warning" style="width: 25rem;">
    <div class="card card bg-dark text-right" style="width: 23rem;">
        <h2 class="text-center text-warning">Notes Update</h2>
        <form action="{% url 'mogoon-create' %}" method="POST">
            {% csrf_token %}
            {{ form }}

            <label for="formGroupExampleInput" class="form-label"><strong>Plucking Date</strong></label>
            <input style="height:40px;width:300px" type="datetime-local" class="form-control"
                   id="formGroupExampleInput" placeholder="plucking_date" name="plucking_date">

            <div class="col-sm col-sm">
                <label for="formGroupExampleInput2" class="form-label"><strong>Crop Data</strong></label>
                <select style="height:40px;width:300px" class="form-control" id="formGroupExampleInput2"
                        name="crop_data">
                    <option selected disabled>choose option</option>
                          <option value="Greentea">Green Tea</option>
                          <option value="Purpletea">Purple Tea</option>
                </select>
                <div class="col-sm col-sm">
                    <label for="formGroupExampleInput2" class="form-label"><strong>Crop Today</strong></label>
                    <input style="height:40px;width:300px" type="text" class="form-control" id="formGroupExampleInput3"
                           placeholder="crop_today" name="crop_today">
                </div>
                <div class="col-sm col-sm">
                    <label for="formGroupExampleInput2" class="form-label"><strong>Crop Todate</strong></label>
                    <input style="height:40px;width:300px" type="text" class="form-control" id="formGroupExampleInput4"
                           placeholder="crop_todate" name="crop_todate" value="{{crop_todate.all_sum}}">
                </div>
                <div class="col-sm col-sm">
                    <label for="formGroupExampleInput2" class="form-label"><strong>Plucker Numbers</strong></label>
                    <input style="height:40px;width:300px" type="text" class="form-control" id="formGroupExampleInput5"
                           placeholder="plucker_numbers" name="plucker_number">
                </div>
                <div class="col-sm col-sm">
                    <label for="formGroupExampleInput2" class="form-label"><strong>Plucking Average</strong></label>
                    <input style="height:40px;width:300px" type="text" class="form-control" id="formGroupExampleInput6"
                           placeholder="plucking_average" name="plucking_average" value="{% widthratio data.crop_today data.plucker_numbers 1 %}">
                </div>
                <div class="col-sm col-sm">
                    <label for="formGroupExampleInput2" class="form-label"><strong>Total Crop</strong></label>
                    <input style="height:40px;width:300px" type="text" class="form-control" id="formGroupExampleInput7"
                           placeholder="total_crop" name="total_crop" value="">
                </div>
                <div class="container my-3">
                    <button class="btn btn-primary" type="submit" value="Update" name="update" typeof="hover">Submit</button>

                    <a class="btn btn-warning bg-success btn-info block-lg" href="{% url 'mogoon-table' %}">Return</a>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}
