{% extends 'mogoon/base.html' %}


{% load static %}

 <meta name="viewport" content="width=device-width,initial-scale=1.0">

{% block body %}

<title>User Profile</title>

<h1>Welcome {{user}}</h1>

{% if messages %}

    {% for message in messages %}

        <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>

    {% endfor %}

{% endif %}

<a href="{% url 'logout' %}">Logout</a>

<hr width="99%" color="#ff00ff" size="16">
<br>
 <div class="col-lg-4 d-none d-lg-flex">


        {% load static %}<img src="{% static '/images/slide 10.jpg/' %}" class="d-block w-100 h-60" alt="...">
        {% load static %}<img src="{% static '/images/slide 15.jpg/' %}" class="d-block w-100 h-60" alt="...">
        {% load static %}<img src="{% static '/images/slide 17.jpg/' %}" class="d-block w-100 h-60" alt="...">


        </div>
{% endblock %}